*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;    
}

ul li{
    list-style-type: none;
}

div.background-overlay-1{
    height: 150px;
    background-color: #009588;
    position: relative;
}

div.background-overlay-2{
    height: calc(100vh - 150px);
    background-color: #DBDBD3;
}

div.container{
    width: 75%;
    height: 80%;
    max-width: 1800px;
    background-color: rgb(33, 143, 186);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

aside.container-aside{
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: 1px solid rgb(232, 232, 232);
}

/* ===== SECTION PERSONAL PROFILE ===== */

section.container-personal-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: .5rem;
    padding-right: 1rem;
    background-color: #EAEAEA;
}

.container-personal{
    align-items: center;
    display: flex;
}

section.container-personal-profile img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

section.container-personal-profile i,
section.current-profile-contact i{
    color: #B1B1B1;
    padding: 0 .5rem;
    font-size: 1.3rem;
}

span.my-name{
    margin-left: 1rem;
    font-weight: bold;
}

/* ===== SECTION SOUND NOTIFY ===== */

section.container-sound-notify{
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 80px;
    background-color: #FAFAFA;
}

section.container-sound-notify-bg{
    background-color: #8EDAFC;
}

div.bells-notify{
    background-color: gray;
    border-radius: 50%;
    color: white;
    margin-right: .8rem;
}
div.bells-notify i{
    font-size: 2rem;
    padding: .5rem;
}

/* ===== SECTION SEARCHES ===== */

section.searches-contacts{
    position: relative;
    height: 40px;
    background-color: #FAFAFA;
}

section.searches-contacts input#search-contact{
    width: 95%;
    padding: 0.5rem;
    padding-left: 2.5rem;
    border: 1px solid #f0efef;
    border-radius: 5px;
    margin: .3rem .5rem;

}



section.searches-contacts i{
    position: absolute;
    left: 20px;
    top: 15px;

}

/* ===== SECTION CONTACTS ===== */
section.container-contacts {
    overflow-y: auto;
    max-height: calc(100% - 200px);
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
}

section.container-contacts img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

ul li.container-contact{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top: 1px solid rgb(241, 241, 241);
}

ul li.container-contact:hover{
    background-color: rgb(221, 219, 219);
    cursor: pointer;
}

.card-contact{
    display: flex;
}

p.name-contact{
    font-weight: bold;
    margin-bottom: .5rem;
}

p.last-message,
p.last-time-message{
    font-size: .75rem;
    color: rgb(186, 186, 186);
    font-weight: 700;
}

/* ====== MAIN  ======*/

/* ====== HEADER - CURRENT PROFILE  ======*/

main.container{
    width: 60%;
    background-color: white;
    height: 100%;
}

header.selector-profile{
    height: 80px;
    background-color: #EAEAEA;
    border-left: 1px solid #6c6c6c;
}

header.selector-profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 1rem;

}

section.current-profile-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 1rem;
}

div.current-profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.current-img{
    display: none;
}

img.current-img-selected{
    display: block;
}

/* ====== CURRENT MESSAGES  ======*/
section.container-messages{
    height: calc(100% - 140px);
    background-image: url(../img/mine.jpg);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.container-message {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.message{
    max-width: 600px;
    padding: 10px;
    min-width: 70px;
    border-radius: 8px;
    margin-top: 1.5rem;
    position: relative;
    padding-bottom: 1rem;


}

p.time-message{
    font-size: .6rem;
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-weight: 700;
    color: rgb(186, 186, 186);
}

.message.received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-left: 2rem;
    margin-right: 5rem;
}

.message.sent {
    background-color: #4caf50;
    color: white;
    align-self: flex-end;
    margin-left: 5rem;
    margin-right: 2rem;
}



/* ====== SECTION SEND MESSAGE  ======*/

section.input-send{
    height: 60px;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
}

section.input-send i {
    font-size: 1.5rem;
    color: #6B7376;
    margin: 0 1.7rem;
}

div.container-input-message{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


section input#send-message{
    width: 100%;
    height: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

